@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #18181b;
    --accent-2: #3EC44A;
    --glow: rgba(24, 24, 27, 0.04);
  }
}

@layer utilities {
  .bg-grid-slate {
    background-image: radial-gradient(circle at 1px 1px, rgba(15, 23, 42, 0.07) 1px, transparent 0);
    background-size: 28px 28px;
  }
}
